body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 150%;
	background-color: gray;
	position: relative;
	height: 100%;
}

.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

#main-header {
	background-color: white;
	color: black;
}

#navbar {
	padding: 20px;
}

#navbar ul{
	padding: 20px;
  	margin: auto;
 	font-weight: bold;
  	color: pink;
  	text-align: center;
  	background-color: black;
 	border: 1px solid #d5d5d5;
 	border-radius: 5px;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: pink;
	text-decoration: none;
	font-size: 20px;
	padding-right: 70px;
	padding-left: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: auto;
	border: 3px solid white;
	border-radius: 5px;
}

#navbar a:hover {
	background-color: white;
	background-image: none;
}

input[type=text], select {
	float: right;
  width: 69%;
  padding: 12px 20px;
  margin: 5px;
  display: inline-block;
  border: 2px solid;
  border-color: black;
  border-radius: 4px;
  box-sizing: border-box;
}

label{
	float: left;
  width: 28%;
  padding: 12px;
  margin: 4px;
  display: inline-block;
  border: 2px hidden;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
 	margin-top: 15px;
	background-color: black;
	color: pink;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

input[type=reset] {
	margin-top: 15px;
	background-color: black;
	color: pink;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

form {
	width: 50%;
  	border-radius: 5px;
 	background-color: white;
 	padding: 20px;
	margin: auto;
	border: 3px solid;
	border-color: black;
}

button {
	margin: auto;
	background-color: black;
	color: pink;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#form-h1 {
	text-align: center;
}